<div class="container-xl">
    <div class="nk-footer-wrap">
        <div class="nk-footer-copyright"> Message Wall, par <a href="https://www.linkedin.com/in/emma-p-840b13b6/" class="text-primary">Emma</a> et <a href="https://www.linkedin.com/in/thomas-roque/" class="text-primary">Thomas</a>
        </div>
        <div class="nk-footer-links">
            <ul class="nav nav-sm">
                <li class="nav-item"><a routerLink="terms" class="nav-link">Terms</a></li>
            </ul>
        </div>
    </div>
</div>
