<div class="nk-chat-editor">

    <form [formGroup]="addMessageForm" (ngSubmit)="onSubmit()" style="width: 100%; display:flex;">

    <div class="nk-chat-editor-form">

        <div class="form-control-wrap">
            <textarea type="text" class="form-control form-control-simple no-resize" rows="1" id="message" placeholder="Entrer votre message"
            formControlName="message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" required>
            <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                <div *ngIf="f.message.errors.required">Message vide</div>
            </div></textarea>
        </div>

    </div>
    <ul class="nk-chat-editor-tools g-2">
        <li>
            <a href="#" class="btn btn-sm btn-icon btn-trigger text-primary"><em class="icon ni ni-happyf-fill"></em></a>
        </li>
        <li>
            <button class="btn btn-round btn-primary btn-icon"><em class="icon ni ni-send-alt"></em></button>
        </li>
    </ul>
</form>
</div>
