<div class="nk-content ">

    <div class="nk-block nk-block-middle nk-auth-body">
        <div class="nk-block-head">
            <div class="nk-block-head-content">
                <h5 class="nk-block-title">Réinitialiser votre mot de passe</h5>
                <div class="nk-block-des">
                    <p>Vous avez oublié votre mot de passe ? Pas de panique, nous vous envoyons un email pour arranger
                        tout ça.</p>
                </div>
            </div>
        </div>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="form-label-group"><label class="form-label" for="default-01">Email</label></div><input
                    type="email" class="form-control form-control-lg" id="default-01"
                    placeholder="Entrer votre adresse mail" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email invalide</div>
                    </div>
            </div>
            <div class="form-group"><button class="btn btn-lg btn-primary btn-block">Envoyer un lien de
                    réinitialisation</button>
            </div>
        </form>
        <div class="form-note-s2 pt-5"><a routerLink="/login"><strong>Se connecter</strong></a></div>
    </div>

</div>
