<div class="nk-app-root">
    <div class="nk-wrap ">
        <div class="nk-header nk-header-fluid is-theme">
            <app-header></app-header>
        </div>
        <div class="nk-content nk-content-fluid">
            <div class="container-xl wide-xl">
                <div class="nk-content-inner">
                    <div class="nk-content-body">
                            <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-footer nk-footer-fluid bg-lighter">
            <app-footer></app-footer>
        </div>
    </div>
</div>
