<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-lg">
            <div class="nk-block-head-content">
                <h2 class="nk-block-title fw-normal">Le concept</h2>
                <div class="nk-block-des">
                    <p class="lead">Projetez au mur les réactions de vos invités !
                    </p>
                </div>
            </div>
        </div>
        <div class="nk-block">
            <div class="card card-bordered">
                <div class="card-inner card-inner-xl">
                    <article class="entry">
                        <h3>Le petit plus de vos évenements !</h3>
                        <p>Une communication dans l'air du temps.</p>
                        <div class="d-flex flex-row align-items-center">
                            <p>Un message wall est un outil d’animation conçu pour les concerts, mariages, soirée d'entreprise, conférence ou tout autre évènement.
                                C’est un mur interactif qui permet aux invités d’envoyer et d’afficher des messages sur un écran dédié durant ces évènements.</p>
                            <img src="./assets/images/messWall.jpg" class="p-2" alt="message">
                        </div>
                      
                        
                        <h4>Notre application digitale</h4>
                        <img src="./assets/images/website.png" alt="web">
                        <p>Ici, le concept prend la forme d'un site web, dans lequel chacun peut partager des messages en salon privé ou publiquement pour tout les visiteurs du site.
                        </p>
                        <p>Utilisable en tant que site ou projetable lors de vos différents évenements, sa forme web rend son utilisation facile et adaptable.</p>
                       
                        <h5>Une communication parallèle à la soirée</h5>
                        <div class="d-flex flex-row align-items-center">    
                            <div></div>
                        <img src="./assets/images/communication.png" class="w-250px m-4 p-2" alt="communication" >
                        <p> Conservez votre anonymat ou affichez vous au grand jour pour vos déclarations d'amour et messages d'amitiés ! N'hésitez pas non plus à donner votre avis sur l'évenement en cours.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

</div>