<div class="nk-chat-panel" style="max-height: 250px; overflow-y:scroll">
    <div class="chat is-you" *ngFor="let message of messages">
        <div class="chat-avatar">
            <div class="user-avatar bg-purple">
                <span>?</span>
            </div>
        </div>
        <div class="chat-content">
            <div class="chat-bubbles">
                <div class="chat-bubble">
                    <div class="chat-msg"> {{message.message}} </div>
                    <ul class="chat-msg-more">
                        <li class="d-none d-sm-block"><a href="#" class="btn btn-icon btn-sm btn-trigger"><em class="icon ni ni-reply-fill"></em></a></li>
                        <li>
                            <div class="dropdown">
                                <a href="#" class="btn btn-icon btn-sm btn-trigger dropdown-toggle" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                    <ul class="link-list-opt no-bdr">
                                        <li class="d-sm-none"><a href="#"><em class="icon ni ni-reply-fill"></em> Reply</a></li>
                                        <li><a href="#"><em class="icon ni ni-pen-alt-fill"></em> Edit</a></li>
                                        <li><a href="#"><em class="icon ni ni-trash-fill"></em> Remove</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="chat-meta">
                <li>{{message.username}}</li>
            </ul>
        </div>
    </div><!-- .chat -->
</div><!-- .nk-chat-panel -->
