/* You can add global styles to this file, and also import other style files */
@import 'assets/libs/dashlite/scss/dashlite.scss';


.page-loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    display: flex !important;
}

a.disabled{
    pointer-events: none;
}

.cursor-pointer{
    cursor: pointer;
}
