<div class="nk-chat">
    <div class="nk-chat-body">
        <div class="nk-chat-head">
            <ul class="nk-chat-head-info">
                <li class="nk-chat-body-close">
                    <a href="#" class="btn btn-icon btn-trigger nk-chat-hide ml-n1"><em class="icon ni ni-arrow-left"></em></a>
                </li>
                <li class="nk-chat-head-user">
                    <div class="user-card">
                        <div class="user-avatar bg-purple">
                            <span>G</span>
                        </div>
                        <div class="user-info">
                            <div class="lead-text">Général</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- .nk-chat-head -->
        <div class="nk-chat-panel" id="chat-panel">
            <app-messagewall></app-messagewall>
        </div>
        <div class="nk-chat-editor">
            <app-add-message style="width:100%"></app-add-message>
        </div>
    </div><!-- .nk-chat-body -->
</div><!-- .nk-chat -->
